@use "../../../../../styles/mixins" as *;

.table {
  width: 100%;
}

// .tableHeader,
// .transactionRow {
//   display: grid;
//   grid-template-columns:
//     40px
//     160px
//     72px
//     120px
//     304px
//     120px
//     120px
//     204px
//     36px;
//   width: 1176px;
//   margin: 0 auto;
//   align-items: center;
// }

.tableHeader,
.transactionRow {
  display: grid;
  width: 100%;
  padding: 8px;
  grid-template-columns:
    40px
    160px
    72px
    120px
    304px
    120px
    120px
    204px
    36px;
  justify-content: center;
  align-items: center;
}

.tableHeader {
  min-height: 72px;
  color: var(--color-gray);
  background-color: var(--color-background-green);

  @include typo-table-header;
}

.tableHeader > div,
.tableHeader > button {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.transactionList {
  width: 100%;
}

.transactionRow {
  position: relative;
  min-height: 72px;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-text);

  @include typo-table-content;
}

.selectedRow {
  background-color: var(--color-selection-background);
}

.checkboxCell {
  display: flex;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: var(--color-green-gray);
  background-color: transparent;
  cursor: pointer;
}

.selectedRow .checkboxCell {
  color: var(--color-point);
}

.checkboxCell :global(.material-icons) {
  font-size: var(--icon-m-size);
}

.dateCell,
.typeCell,
.categoryCell,
.contentCell,
.amountCell,
.paymentCell,
.memoCell {
  display: flex;
  min-width: 0;
  height: 40px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
}

.contentCell,
.memoCell {
  @include ellipsis;
}

.typeCell,
.categoryCell,
.amountCell {
  font-weight: var(--font-weight-bold);
}

.paymentCell {
  color: var(--color-light-gray);
  font-weight: var(--font-weight-semibold);
}

.memoCell,
.dateCell {
  color: var(--color-light-gray);
}

.actionCell {
  display: flex;
  width: 36px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: var(--color-light-gray);
  background-color: transparent;
  cursor: pointer;
}

.actionCell :global(.material-icons) {
  font-size: var(--icon-m-size);
}

.income {
  color: var(--color-type-income);
}

.expense {
  color: var(--color-type-expense);
}

.transfer {
  color: var(--color-type-transfer);
}

.cafeSnack {
  color: var(--color-expense-cafe-snack);
}

.salary {
  color: var(--color-income-salary);
}

.food {
  color: var(--color-expense-food);
}

.savings {
  color: var(--color-transfer-savings);
}

.mobileMemo {
  display: none;
}

.selectionBar {
  width: 100%;
  min-height: 48px;
  border-top: 1px solid var(--color-border-gray);
  border-bottom: 1px solid var(--color-border-gray);
  background-color: rgb(255 250 228 / 33%);
}

.selectionBarInner {
  display: flex;
  width: 1176px;
  min-height: 48px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.selectionInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text);

  @include typo-table-content;
}

.selectionInfo > :global(.material-icons) {
  display: flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: var(--color-point);
  font-size: var(--icon-m-size);
}

.selectionRight {
  display: flex;
  align-items: center;
  gap: 24px;
}

.selectionSummary {
  display: flex;
  align-items: center;
  gap: 16px;
}

.incomeSummary,
.expenseSummary,
.transferSummary {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;

  @include typo-table-content;
}

.incomeSummary {
  color: var(--color-type-income);
}

.expenseSummary {
  color: var(--color-type-expense);
}

.transferSummary {
  color: var(--color-type-transfer);
}

.incomeSummary span,
.expenseSummary span,
.transferSummary span {
  font-weight: var(--font-weight-semibold);
}

.incomeSummary strong,
.expenseSummary strong,
.transferSummary strong {
  font-weight: var(--font-weight-bold);
}

.selectionActions {
  display: flex;
  align-items: center;
}

.selectionActions button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
  background-color: transparent;
  cursor: pointer;
}

.selectionActions button :global(.material-icons),
.selectionActions button :global(.material-icons-outlined) {
  font-size: var(--icon-m-size);
}

.loadMoreArea {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.loadMoreButton {
  display: flex;
  width: 100%;
  min-height: 56px;
  padding: 16px;
  border: 0;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--color-point);
  background-color: var(--color-background-green);
  cursor: pointer;

  @include typo-body-m-plus;
}

.loadMoreButton :global(.material-icons) {
  font-size: var(--icon-m-size);
}

.loadMoreButton:hover {
  background-color: var(--color-primary);
}
