@use "./variables" as *;

/* ========================================
   SCSS Mixins
======================================== */

/*
  공통 SCSS 기능

  - Responsive
  - Typography
  - Icon
  - Flex
  - Ellipsis
*/

/* ========================================
   Responsive
======================================== */

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

/* ========================================
   Typography
======================================== */

@mixin typography($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin icon($size, $line-height: 1) {
  font-family: var(--font-family-icon);
  font-size: $size;
  line-height: $line-height;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* ========================================
   Layout
======================================== */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================
   Text Overflow
======================================== */

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multi-ellipsis($lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
