@use "../../../../../styles/mixins" as *;

/* Recent Transactions */
.recentPanel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;

  display: flex;
  width: 378px;
  min-width: 378px;
  padding: 16px;

  border: 1px solid var(--color-border-gray);
  border-right: 0;
  border-radius: 16px 0 0 16px;

  flex-direction: column;
  gap: 16px;
  background-color: var(--color-white);
}

.recentHeader {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.recentHeaderButton,
.recentHistoryIcon {
  display: flex;
  width: 40px;
  height: 40px;
  border: 0;
  align-items: center;
  justify-content: center;
  color: var(--color-light-gray);
  background-color: transparent;
}

.recentHeaderButton {
  cursor: pointer;
}

.recentHeaderButton :global(.material-icons),
.recentHistoryIcon {
  font-size: var(--icon-l-size);
}

.recentTitle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @include typo-card-label;
}

.recentDescription {
  color: var(--color-gray);

  @include typo-caption-plus;
}

.recentList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.recentCard {
  display: flex;
  width: 100%;
  min-height: 120px;
  padding: 16px;
  border: 1px solid var(--color-border-gray);
  border-radius: 16px;
  align-items: center;
  gap: 16px;
  background-color: var(--color-white);
}

.copiedRecentCard {
  background-color: var(--color-background-green);
}

.recentCardContent {
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.recentCardTitle {
  overflow: hidden;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;

  @include typo-caption-plus;
}

.recentInfoRow,
.recentSubInfo {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 8px;
}

.recentType,
.recentCategory {
  flex-shrink: 0;

  @include typo-caption-plus;
}

.recentCategory {
  padding: 0 8px;
  border-right: 1px solid var(--color-border-gray);
  border-left: 1px solid var(--color-border-gray);
}

.recentAmount {
  min-width: 0;
  overflow: hidden;
  color: var(--color-light-gray);
  text-overflow: ellipsis;
  white-space: nowrap;

  @include typo-caption;
}

.recentSubInfo {
  color: var(--color-light-gray);
}

.recentSubInfo strong {
  padding-right: 8px;
  border-right: 1px solid var(--color-border-gray);

  @include typo-body-m-minus;
}

.recentSubInfo span {
  @include typo-body-m-minus;
}

/* Recent Transaction Type */

.recentType.income {
  color: var(--color-type-income);
}

.recentType.expense {
  color: var(--color-type-expense);
}

.recentType.transfer {
  color: var(--color-type-transfer);
}

/* Recent Expense Categories */

.recentCategory.food {
  color: var(--color-expense-food);
}

.recentCategory.cafe_snack {
  color: var(--color-expense-cafe_snack);
}

.recentCategory.transportation {
  color: var(--color-expense-transportation);
}

.recentCategory.shopping {
  color: var(--color-expense-shopping);
}

.recentCategory.subscription {
  color: var(--color-expense-subscription);
}

.recentCategory.household_goods {
  color: var(--color-expense-household_goods);
}

.recentCategory.medical {
  color: var(--color-expense-medical);
}

.recentCategory.hobby {
  color: var(--color-expense-hobby);
}

.recentCategory.education {
  color: var(--color-expense-education);
}

/* Recent Income Categories */

.recentCategory.salary {
  color: var(--color-income-salary);
}

.recentCategory.other_income {
  color: var(--color-income-other_income);
}

.recentCategory.bonus {
  color: var(--color-income-bonus);
}

.recentCategory.investment_income {
  color: var(--color-income-investment_income);
}

.recentCategory.allowance {
  color: var(--color-income-allowance);
}

.recentCategory.income_other {
  color: var(--color-category-other);
}

/* Recent Transfer Categories */

.recentCategory.saving_transfer {
  color: var(--color-transfer-savings);
}

.copyButton,
.copiedButton {
  display: flex;
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: var(--color-point);
  background-color: var(--color-white);

  @include typo-caption-plus;
}

.copyButton {
  border: 1px solid var(--color-point);
  cursor: pointer;
}

.copiedButton {
  border: 0;
  gap: 4px;
  background-color: transparent;
}

.copiedButton :global(.material-icons) {
  font-size: var(--icon-m-size);
}

.viewAllRecentButton {
  display: flex;
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--color-point);
  background-color: var(--color-primary);
  cursor: pointer;

  @include typo-body-m-plus;
}

.viewAllRecentButton :global(.material-icons) {
  font-size: var(--icon-m-size);
}
